<!-- blogs/templates/blog/post_list.html -->
<!DOCTYPE html>
<html>
    <head>
    <title>Nathan's Django Blog</title>
    </head>
    <body>
    <header>
        
        <h1><a href="https://ivylearn.ivytech.edu">Nathan's Module 5 Django</a></h1>
    </header>
    
    <article>
        <time>published: 01.10.2025, 6:10</time>
        <h1><a href="">My first post</a></h2>
        <p>Hello this is for my SDEV using Python class</p>
    </article>

    <article>
        <time>published: 1.10.2025, 6:14</time>
        <h1><a href="">My second post</a></h2>
        <p>Hello this is my second post for my SDEV using Python class</p>
    </article>
    </body>
</html>
