<!-- blogs/templates/blog/post_list.html -->
<!DOCTYPE html>
<html>
    <head>
    <title>Nathan's Django Blog</title>
    </head>
    <body>
    <header>
        
        <h1><a href="https://ivylearn.ivytech.edu">Nathan's Module 6 Django</a></h1>
    </header>
    {% for post in posts %}
    <article>
        <time>published: {{post.published_date}}</time>
        <h1><a href="">{{post.title}}</a></h2>
        <p>{{ post.text|linebreaksbr }}</p>
    </article>
{% endfor %}
    <article>
        <time>published: 1.10.2025, 6:14</time>
        <h1><a href="">My second post</a></h2>
        <p>Hello this is my second post for my SDEV using Python class</p>
    </article>
    </body>
</html>
